<mat-sidenav-container class="lantern-wrapper">

  <mat-sidenav #drawer mode="side" opened>
    <div class="sidebar-header" style="padding: 20px; border-bottom: 1px solid #eee;">
      <mat-icon color="primary" style="vertical-align: middle;">flare</mat-icon>
      <b style="margin-left: 10px; letter-spacing: 1px;">The LANTERN</b>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" routerLinkActive="active-link">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <div matListItemTitle>Admin Analytics</div>
      </a>
      <a mat-list-item routerLink="/catalogue" routerLinkActive="active-link">
        <mat-icon matListItemIcon>list_alt</mat-icon>
        <div matListItemTitle>Catalogue</div>
      </a>
      <a mat-list-item routerLink="/application" routerLinkActive="active-link">
        <mat-icon matListItemIcon>list_alt</mat-icon>
        <div matListItemTitle>Applications</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="ms-2">Project Lantern Monitoring</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>