:host {
  display: block;
}

.btn-generic {
  color: #0a0a0a;
  font-weight: 600;
  border: 1px solid #a1a1a180;
  border-radius: calc(.625rem - 2px);
  background: #fff;
  padding: .5rem .8rem;
  font-family: var(--font-sans);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;

  &:hover:not(:disabled):not(.btn-disabled) {
    background-color: #e9ebef;
    border-color: #a1a1a1;
  }

  &:active:not(:disabled):not(.btn-disabled) {
    transform: scale(0.98);
    background-color: #d1d5db;
  }

  // Disabled state
  &:disabled,
  &.btn-disabled {
    color: gray !important;
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #f3f4f6; 
    border-color: #d1d5db;
    filter: grayscale(1);

    &:hover {
      background-color: #f3f4f6;
    }
  }
}

.btn-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.inverted {
  color: white !important;
  background: #ba1a1a;

  &:hover:not(:disabled):not(.btn-disabled) {
    color: #ba1a1a !important;
    background-color: rgba(186, 26, 26, 0.1) !important;
      border-color: #ba1a1a !important;
    
  }
}