.background {
  background-image: url("https://demo.paymoney.techvill.net/public/frontend/templates/images/home/bg-pattern.png");
  height: 100vh;
  background-size: cover;
}

.btn-custom {
  background-color: #635bfe;
}
.btn-custom:hover {
  background-color: #392f6b;
}
