<div class="page-container">
  <!-- <div class="search-container">
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search web services...">
    </div>
  </div>
  <br> -->
  <mat-card appearance="outlined">

    <div class="header-container">
      <div class="title-group">
        <h2 class="table-header">Web Services</h2>
        <p class="app-count">Showing {{ webServicesList.length }} items</p>
      </div>

      <span class="spacer"></span>

      <!-- <button mat-flat-button class="add-btn">
        <mat-icon>add</mat-icon>
        Add Application
      </button> -->

    </div>

    @if (webServicesList.length > 0) {

    <app-table-list [dataSource]="webServicesList" />

    } @else {

    <div class="empty-state-wrapper">
      <mat-icon class="huge-icon">inventory_2</mat-icon>

      <h3>No Applications Yet</h3>
      <p>Get started by adding your first web service.</p>

    </div>
    }

  </mat-card>
</div>