<div class="page-container">
  <div class="search-container">
    <div class="search-row">
      <div class="search-box">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search web services...">
      </div>

      <button mat-icon-button (click)="toggleFilters()" [class.active-filter]="isFilterExpanded"
        class="filter-toggle-btn">
        <mat-icon>filter_list</mat-icon>
      </button>

      <app-button [name]="'Search'" />
    </div>

    @if (allSelectedTags.length > 0) {
    <div class="selected-tags" @tagAnimation>
      <span class="tags-title">Active Filters:</span>
      @for (tag of allSelectedTags; track tag.value) {
      <span class="tag" [ngClass]="tag.value.toLowerCase().replace('_', '-')">
        {{ tag.value }}
        <mat-icon (click)="toggleFilter(tag.key, tag.value)">close</mat-icon>
      </span>
      }
      <button class="clear-all" (click)="clearAll()">Clear all</button>
    </div>
    }

    <div class="filter-section" [@expandCollapse]="isFilterExpanded ? 'expanded' : 'collapsed'">
      <div class="filter-content-grid">
        @for (filter of filterData; track filter.label) {
        <div class="custom-dropdown">
          <div class="dropdown-trigger" (click)="filter.isOpen = !filter.isOpen">
            <span>{{ filter.label }}</span>
            <mat-icon [class.rotated]="filter.isOpen">expand_more</mat-icon>
          </div>

          @if (filter.isOpen) {
          <div class="options-grid">
            @for (option of filter.options; track option) {
            <div class="option-item" [class.selected]="isSelected(filter.key, option)"
              (click)="toggleFilter(filter.key, option)">
              <div class="checkbox">
                @if (isSelected(filter.key, option)) { <mat-icon>done</mat-icon> }
              </div>
              {{ option }}
            </div>
            }
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
  <br>
  <mat-card appearance="outlined">

    <div class="header-container">
      <div class="title-group">
        <h2 class="table-header">Web Services</h2>
        <p class="app-count">Showing {{ webServicesList.length }} items</p>
      </div>

      <span class="spacer"></span>

    </div>

    @if (webServicesList.length > 0) {
      
    <div class="table-container">
      <app-table-list [dataSource]="webServicesList" [type]="'WEBSERVICE'" />
    </div>

    <app-pagination [totalElements]="dataRes.totalElements" [pageSize]="dataRes.pageSize"
      [currentPage]="dataRes.currentPage" (pageChange)="onHandlePage($event)">
    </app-pagination>

    } @else {

    <div class="table-container">
      <div class="empty-container">
        <mat-icon>warning</mat-icon>
        <h3>No Web Services Found</h3>
      </div>
    </div>
    }

  </mat-card>
</div>