:host {
  display: block;
}

.missing-fields-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  background-color: #e9ecef38;
  border: 1px dashed #c8cccf;

  h4 {
    margin: 0;
    font-weight: 600;
    color: #555;
  }
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.header-container {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

}

.missing-field-chip {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.7rem;
  font-weight: 500;
  background-color: #f2edee5c;
  color: #555;
  margin: 0;
  border: 1px solid #0000001a;
  height: 22px;
  white-space: nowrap;

  &.required {
    background-color: #fff7ed;
    color: #ba1a1a;
    border-color: #ba1a1a;
  }
}

.no-missing-fields {
  color: #777;
  font-size: 0.85rem;
}

.table-legend {
  display: flex;
  align-items: center;
  gap: 18px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 11px;
  color: #475569;
}

.legend-indicator {
  width: 9px;
  height: 9px;

  border-radius: 2px;
}

.legend-indicator.optional {
  border: 1px solid #0000001a;
  background: #f2edee5c;
}

.legend-indicator.mandatory {
  border: 1px solid #ba1a1a;
  background: #fff7ed;
}