@if (missingFields.length > 0) {


<div class="missing-fields-container">
    <div class="header-container">
        <span>
            <h4>Missing fields: </h4>
        </span>
        <div class="table-legend">
            <div class="legend-item">
                <span class="legend-indicator optional"></span>
                <span>Optional Fields</span>
            </div>
            <div class="legend-item">
                <span class="legend-indicator mandatory"></span>
                <span>Required Fields</span>
            </div>

        </div>

    </div>
    <div class="chip-container">
        @for (field of missingFields; track field.fieldName) {

        <span class="missing-field-chip" [class.required]="field.required">
            {{ formatLabel(field.fieldName) }}
        </span>

        }
    </div>

</div>

}