<div class="page-layout">
    <!-- <button mat-button class="back-link"><mat-icon>arrow_back</mat-icon> Back to Catalog</button> -->
    @if (WSDetails) {
    <mat-card class="detail-container">
        <div class="header-section">
            <div class="title-block">
                <div class="title-row">
                    <h1>{{ WSDetails?.serviceConfig?.[0]?.name ?? 'Unnamed Web Service' }}</h1>

                    <div class="chip-container">
                        <span class="custom-chip header-chip">Web Service</span>
                        @if (WSDetails?.serviceConfig?.[0]?.type) {
                            <span class="custom-chip ">{{ WSDetails.serviceConfig[0].type }}</span>
                        }
                        @if (WSDetails.serviceConfig[0].method) {
                            <span class="custom-chip active">{{ WSDetails.serviceConfig[0].method }}</span>
                        }
                    </div>
                </div>

                <p class="description" [class.no-desc]="!WSDetails?.upstreamApplications?.[0]?.description">
                    {{ WSDetails?.serviceConfig?.[0]?.description ?? 'No description available for this service.' }}
                </p>

                <div class="status-row">
                    <span class="badge" [ngClass]="{
                            'active': WSDetails?.serviceConfig?.[0]?.status == 'ACTIVE',
                            'for-deprecation': WSDetails?.serviceConfig?.[0]?.status == 'FOR_DEPRECATION',
                            'deprecated': WSDetails?.serviceConfig?.[0]?.status == 'DEPRECATED',
                            'for-retirement': WSDetails?.serviceConfig?.[0]?.status == 'FOR_RETIREMENT'
                        }" [class.unknown]="!WSDetails?.serviceConfig?.[0]?.status">
                        {{ WSDetails?.serviceConfig?.[0]?.status ?? 'UNKNOWN' }}
                    </span>

                    <span class="version-text">
                        Version {{ WSDetails?.serviceConfig?.[0]?.version ?? 'N/A' }}
                    </span>


                    @if (WSDetails.serviceConfig[0].accessedViaGateway){
                    <span class="badge sit">
                        Via Gateway
                    </span>
                    }

                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="content-body">

            <section>
                <h3>Service Configuration</h3>
                <div class="grid-2">
                    <div class="data-field">
                        <label>Application</label>
                        <button (click)="openLink(WSDetails?.serviceConfig?.[0]?.appUuid)">{{
                            WSDetails?.serviceConfig?.[0]?.appName ?? '—' }}</button>
                    </div>

                    <div class="data-field">
                        <label>Web Service Name</label>
                        <p class="highlight">{{ WSDetails?.serviceConfig?.[0]?.name ?? '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Web Service Version</label>
                        <p class="mono">{{ WSDetails?.serviceConfig?.[0]?.version ?? '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Web Service Type</label>
                        <p>{{ (WSDetails?.serviceConfig?.[0]?.type | titlecase) ?? '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>HTTP Method</label>
                        <p>
                            @if (WSDetails?.serviceConfig?.[0]?.method) {
                            <span class="method-tag">{{ WSDetails.serviceConfig[0].method }}</span>
                            } @else {
                            —
                            }
                        </p>
                    </div>

                    <div class="data-field">
                        <label>Accessed via Gateway</label>
                        <p [class.text-success]="WSDetails.serviceConfig[0].accessedViaGateway"
                            [class.text-danger]="!WSDetails.serviceConfig[0].accessedViaGateway">
                            {{ WSDetails.serviceConfig[0].accessedViaGateway ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>

                    <div class="data-field">
                        <label>Status</label>
                        <span class="badge" [ngClass]="{
                            'active': WSDetails?.serviceConfig?.[0]?.status == 'ACTIVE',
                            'for-deprecation': WSDetails?.serviceConfig?.[0]?.status == 'FOR_DEPRECATION',
                            'deprecated': WSDetails?.serviceConfig?.[0]?.status == 'DEPRECATED',
                            'for-retirement': WSDetails?.serviceConfig?.[0]?.status == 'FOR_RETIREMENT'
                        }">
                            {{ WSDetails?.serviceConfig?.[0]?.status ?? 'Unknown' }}
                        </span>
                    </div>
                </div>
            </section>

            <section>
                <h3>Description</h3>
                <div class="data-field">
                    @if (WSDetails?.serviceConfig?.[0]?.description) {
                    <p class="description-text">
                        {{ WSDetails.serviceConfig[0].description }}
                    </p>
                    } @else {
                    <div class="empty-description">
                        <mat-icon>notes</mat-icon>
                        <p>No functional description has been provided for this web service.</p>
                    </div>
                    }
                </div>
            </section>

            <section>
                <h3>Security & Authentication</h3>
                <div class="grid-2">
                    <div class="data-field">
                        <label>Authentication Method</label>
                        @if (WSDetails?.securityAndAuth?.[0]?.authMethod) {
                        <span class="custom-chip header-chip">
                            {{ WSDetails.securityAndAuth[0].authMethod }}
                        </span>
                        } @else {
                        <p class="no-security">No authentication method defined</p>
                        }
                    </div>

                    <div class="data-field">
                        <label>Authorization</label>
                        @if (WSDetails?.securityAndAuth?.[0]?.authorization) {
                        <p class="mono">{{ WSDetails.securityAndAuth[0].authorization }}</p>
                        } @else {
                        <p class="no-security">None (Open Access)</p>
                        }
                    </div>
                </div>
            </section>

            <section>
                <h3>Environment URLs</h3>

                <div class="link-field">
                    <label>Production URL</label>
                    @if (WSDetails?.environmentUrls?.[0]?.prodURL) {
                    <a [href]="WSDetails.environmentUrls[0].prodURL" target="_blank">
                        {{ WSDetails.environmentUrls[0].prodURL }} <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    <span class="no-data">Not configured</span>
                    }
                </div>

                <div class="link-field">
                    <label>DR URL</label>
                    @if (WSDetails?.environmentUrls?.[0]?.drURL) {
                    <a [href]="WSDetails.environmentUrls[0].drURL" target="_blank">
                        {{ WSDetails.environmentUrls[0].drURL }} <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    <span class="no-data">Not configured</span>
                    }
                </div>

                <div class="link-field">
                    <label>UAT URL</label>
                    @if (WSDetails?.environmentUrls?.[0]?.uatURL) {
                    <a [href]="WSDetails.environmentUrls[0].uatURL" target="_blank">
                        {{ WSDetails.environmentUrls[0].uatURL }} <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    <span class="no-data">Not configured</span>
                    }
                </div>

                <div class="link-field">
                    <label>SIT URL</label>
                    @if (WSDetails?.environmentUrls?.[0]?.sitURL) {
                    <a [href]="WSDetails.environmentUrls[0].sitURL" target="_blank">
                        {{ WSDetails.environmentUrls[0].sitURL }} <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    <span class="no-data">Not configured</span>
                    }
                </div>
            </section>

            <section class="audit-section">
                <div class="section-header">
                    <h3>Request Configuration</h3>
                </div>
                <div class="data-field"><label>URL Path Parameters</label></div>
                <div class="table-container">
                    @if (WSDetails?.urlPathParameters?.length) {
                    <table mat-table [dataSource]="WSDetails.urlPathParameters" class="mat-elevation-z0 border-table">

                        <ng-container matColumnDef="paramName">
                            <th mat-header-cell *matHeaderCellDef>Parameter Name</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.parameterName ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="typeAndFormat">
                            <th mat-header-cell *matHeaderCellDef>Data Type and Format</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.typeAndFormat ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="isRequired">
                            <th mat-header-cell *matHeaderCellDef>Required?</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.isRequired !== null && v.isRequired !== undefined) {
                                <span class="custom-chip" [ngClass]="{
                                    'alpha': v.isRequired == true,
                                    'pre-alpha': v.isRequired == false,
                                }">
                                    {{ v.isRequired ? 'Yes' : 'No' }}
                                </span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef>Sample Value</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sampleValue ?? 'n/a' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.description ?? 'No description provided.' }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="genericColumn"></tr>
                        <tr mat-row *matRowDef="let row; columns: genericColumn;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No URL path parameters defined for this service.</p>
                    </div>
                    }
                </div>

                <div class="data-field"><label>Request Headers</label></div>

                <div class="table-container">
                    @if (WSDetails?.requestHeaders?.length) {
                    <table mat-table [dataSource]="WSDetails.requestHeaders" class="mat-elevation-z0 border-table">

                        <ng-container matColumnDef="paramName">
                            <th mat-header-cell *matHeaderCellDef>Header Name</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.parameterName ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="typeAndFormat">
                            <th mat-header-cell *matHeaderCellDef>Data Type and Format</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.typeAndFormat ?? 'string' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="isRequired">
                            <th mat-header-cell *matHeaderCellDef>Required?</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.isRequired !== null && v.isRequired !== undefined) {
                                <span class="custom-chip" [ngClass]="{
                                    'alpha': v.isRequired == true,
                                    'pre-alpha': v.isRequired == false,
                                }">
                                    {{ v.isRequired ? 'Yes' : 'No' }}
                                </span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef>Sample Value</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sampleValue ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.description ?? 'No header description provided.' }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="genericColumn"></tr>
                        <tr mat-row *matRowDef="let row; columns: genericColumn;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No specific request headers required for this service.</p>
                    </div>
                    }
                </div>


                <div class="grid-2">
                    <div class="data-field">
                        <label>Request Data Format</label>
                        <p class="mono">{{ WSDetails?.requestDataFormat ?? '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Data Sensitivity Type</label>
                        <span class="custom-chip alpha">{{ WSDetails?.dataSensitiveType ?? '—' }}</span>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="data-field"><label>Request Body Sample</label></div>
                <div class="code-container">
                    <code>
                        <pre>{{requestBodySampleString}}</pre>
                    </code>
                </div>

                <div class="divider"></div>

                <div class="data-field"><label>Request Body Fields</label></div>
                <div class="table-container">
                    @if (WSDetails?.requestBodyFields?.length) {
                    <table mat-table [dataSource]="WSDetails.requestBodyFields"
                        class="mat-elevation-z0 border-table  req-body-field">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Field Name</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.fieldName ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="typeAndFormat">
                            <th mat-header-cell *matHeaderCellDef>Data Type and Format</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.typeAndFormat ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">{{ v.description ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="isRequired">
                            <th mat-header-cell *matHeaderCellDef>Required?</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.isRequired !== null && v.isRequired !== undefined) {
                                <span class="custom-chip" [ngClass]="{
                                    'alpha': v.isRequired == true,
                                    'pre-alpha': v.isRequired == false,
                                }">
                                    {{ v.isRequired ? 'Yes' : 'No' }}
                                </span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sampleValue">
                            <th mat-header-cell *matHeaderCellDef>Sample Value</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sampleValue ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rules">
                            <th mat-header-cell *matHeaderCellDef>Validation Rules</th>
                            <td mat-cell *matCellDef="let v">{{ v.validationRules ?? 'None' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="logic">
                            <th mat-header-cell *matHeaderCellDef>Transformation Logic</th>
                            <td mat-cell *matCellDef="let v">{{ v.transformationLogic ?? 'Direct' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="defaultValue">
                            <th mat-header-cell *matHeaderCellDef>Default Value</th>
                            <td mat-cell *matCellDef="let v">{{ v.defaultValue ?? 'None' }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="reqBodyFields"></tr>
                        <tr mat-row *matRowDef="let row; columns: reqBodyFields;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No request body fields defined for this service.</p>
                    </div>
                    }
                </div>


                <div class="divider"></div>

                <div class="grid-2">
                    <div class="data-field">
                        <label>Data in Transit Encryption</label>
                        <p>{{ WSDetails?.dataInTransitEncryption ?? '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Average Request Size</label>
                        <p>{{ WSDetails?.aveReqSize ? (WSDetails.aveReqSize) : '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Max Request Size</label>
                        <p>{{ WSDetails?.maxReqSize ? (WSDetails.maxReqSize) : '—' }}</p>
                    </div>
                </div>

            </section>

            <section>
                <h3>Request Policies</h3>
                <div class="grid-2">
                    <div class="data-field">
                        <label>Request Data Logged?</label>
                        <p [class.text-success]="WSDetails?.reqDataLog" [class.text-danger]="!WSDetails?.reqDataLog">
                            {{ WSDetails?.reqDataLog ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>

                    <div class="data-field">
                        <label>Request Data Cached?</label>
                        <p [class.text-success]="WSDetails?.reqDataCached"
                            [class.text-danger]="!WSDetails?.reqDataCached">
                            {{ WSDetails?.reqDataCached ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>

                    <div class="data-field">
                        <label>Request Duplicate Allowed?</label>
                        <p [class.text-success]="WSDetails?.reqDuplicateAllowed"
                            [class.text-danger]="!WSDetails?.reqDuplicateAllowed">
                            {{ WSDetails?.reqDuplicateAllowed ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>

                    <div class="data-field">
                        <label>Request Throttling Supported?</label>
                        <p [class.text-success]="WSDetails?.reqThrottlingSupported"
                            [class.text-danger]="!WSDetails?.reqThrottlingSupported">
                            {{ WSDetails?.reqThrottlingSupported ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>
                </div>
            </section>

            <section class="audit-section">
                <div class="section-header">
                    <h3>Response Configuration</h3>
                </div>
                <div class="data-field"><label>Response Headers</label></div>

                <div class="table-container">
                    @if (WSDetails?.responseHeaders?.length) {
                    <table mat-table [dataSource]="WSDetails.responseHeaders" class="mat-elevation-z0 border-table">

                        <ng-container matColumnDef="paramName">
                            <th mat-header-cell *matHeaderCellDef>Header Name</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.headerName ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="typeAndFormat">
                            <th mat-header-cell *matHeaderCellDef>Data Type and Format</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.typeAndFormat ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="isRequired">
                            <th mat-header-cell *matHeaderCellDef>Required?</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.isRequired !== null && v.isRequired !== undefined) {
                                <span class="custom-chip" [ngClass]="{
                                    'alpha': v.isRequired == true,
                                    'pre-alpha': v.isRequired == false,
                                }">
                                    {{ v.isRequired ? 'Yes' : 'No' }}
                                </span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef>Sample Value</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sampleValue ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.description ?? 'No header description provided.' }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="genericColumn"></tr>
                        <tr mat-row *matRowDef="let row; columns: genericColumn;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No custom response headers documented for this service.</p>
                    </div>
                    }
                </div>

                <div class="grid-2">
                    <div class="data-field">
                        <label>Response Data Format</label>
                        <p class="mono">{{ WSDetails?.responseDataFormat ?? '—' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Response Data Sensitivity Type</label>
                        <span class="custom-chip alpha">{{ WSDetails?.responseDataSensitivityType ?? 'Not Classified'
                            }}</span>
                    </div>
                </div>

                <div class="divider"> </div>

                <div class="data-field"><label>Response Body Sample</label></div>
                <div class="code-container">
                    <code>
                        <pre>{{responseBodySampleString}}</pre>
                    </code>
                </div>

                <div class="divider"> </div>

                <div class="data-field"><label>Response Body Fields</label></div>

                <div class="table-container">
                    @if (WSDetails?.requestBodyFields?.length) {
                    <table mat-table [dataSource]="WSDetails.responseBodyFields"
                        class="mat-elevation-z0 border-table res-body-field">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Field Name</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.fieldName ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="typeAndFormat">
                            <th mat-header-cell *matHeaderCellDef>Data Type and Format</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.typeAndFormat ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">{{ v.description ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="isRequired">
                            <th mat-header-cell *matHeaderCellDef>Required?</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.isRequired !== null && v.isRequired !== undefined) {
                                <span class="custom-chip" [ngClass]="{
                                    'alpha': v.isRequired == true,
                                    'pre-alpha': v.isRequired == false,
                                }">
                                    {{ v.isRequired ? 'Yes' : 'No' }}
                                </span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sampleValue">
                            <th mat-header-cell *matHeaderCellDef>Sample Value</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sampleValue ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rules">
                            <th mat-header-cell *matHeaderCellDef>Validation Rules</th>
                            <td mat-cell *matCellDef="let v">{{ v.validationRules ?? 'None' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="logic">
                            <th mat-header-cell *matHeaderCellDef>Transformation Logic</th>
                            <td mat-cell *matCellDef="let v">{{ v.transformationLogic ?? 'Direct' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="defaultValue">
                            <th mat-header-cell *matHeaderCellDef>Default Value</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.defaultValue ?? 'None' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sourceOrDomainApplication">
                            <th mat-header-cell *matHeaderCellDef>Source/Domain Application</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sourceOrDomainApplication ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sourceOrDomainFieldName">
                            <th mat-header-cell *matHeaderCellDef>Source/Domain Field Name</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.sourceOrDomainFieldName ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="resBodyFields"></tr>
                        <tr mat-row *matRowDef="let row; columns: resBodyFields;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No response body fields documented for this service.</p>
                    </div>
                    }
                </div>

                <div class="divider"> </div>

                <div class="data-field"><label>Response Status Codes</label></div>

                <div class="table-container">
                    @if (WSDetails?.responseStatusCodes?.length) {
                    <table mat-table [dataSource]="WSDetails.responseStatusCodes" class="mat-elevation-z0 border-table">

                        <ng-container matColumnDef="HTTPCode">
                            <th mat-header-cell *matHeaderCellDef>HTTP Code</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.httpcode ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="businessCode">
                            <th mat-header-cell *matHeaderCellDef>Business Code</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{ v.businessCode ?? '—' }}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="message">
                            <th mat-header-cell *matHeaderCellDef>Message / Description</th>
                            <td mat-cell *matCellDef="let v">
                                {{ v.message ?? '—' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>Category</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.type) {
                                <span class="custom-chip">{{ v.type }}</span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="suggestedAction">
                            <th mat-header-cell *matHeaderCellDef>Suggested Action</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.suggestedAction ?? 'No specific action defined.' }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="statusCodesFields"></tr>
                        <tr mat-row *matRowDef="let row; columns: statusCodesFields;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No specific status codes or error mappings defined for this service.</p>
                    </div>
                    }
                </div>


                <div class="divider"></div>

                <div class="grid-2">
                    <div class="data-field">
                        <label>Response Data in Transit Encryption</label>
                        <p>{{ WSDetails?.responseDataInTransitEncryption ?? 'Not Specified' }}</p>
                    </div>

                    <div class="data-field">
                        <label>Average Response Size</label>
                        <p>
                            {{ WSDetails?.averageResponseSize ? (WSDetails.averageResponseSize) : '—' }}
                        </p>
                    </div>

                    <div class="data-field">
                        <label>Max Response Size</label>
                        <p>
                            {{ WSDetails?.maxResponseSize ? (WSDetails.maxResponseSize) : '—' }}
                        </p>
                    </div>
                </div>

            </section>

            <section>
                <h3>Response Policies</h3>
                <div class="grid-2">
                    <div class="data-field">
                        <label>Response Data Logged?</label>
                        <p [class.text-success]="WSDetails.serviceConfig[0].requestDataLogged"
                            [class.text-danger]="!WSDetails.serviceConfig[0].requestDataLogged">
                            {{ WSDetails.serviceConfig[0].requestDataLogged ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>
                    <div class="data-field">
                        <label>Response Data Cached?</label>
                        <p [class.text-success]="WSDetails.serviceConfig[0].responseDataCached"
                            [class.text-danger]="!WSDetails.serviceConfig[0].responseDataCached">
                            {{ WSDetails.serviceConfig[0].responseDataCached ? '✓ Yes' : '✘ No' }}
                        </p>
                    </div>
                </div>
            </section>

            <section>
                <h3>API Policies</h3>
                <div class="grid-2">
                    <div class="data-field">
                        <label>Rate Limit Info</label>
                        <p>{{ WSDetails?.rateLimitInfo ?? 'No rate limit defined' }}</p>
                    </div>
                    <div class="data-field">
                        <label>Exposure</label>
                        <p>{{ WSDetails?.exposure ?? '—' }}</p>
                    </div>
                </div>
            </section>

            <section class="audit-section">
                <div class="section-header">
                    <h3>Consumers & Upstream/Source Applications</h3>
                </div>
                <div class="data-field"><label>Consumers</label></div>

                <div class="table-container">
                    @if (WSDetails?.consumerApplications?.length) {
                    <table mat-table [dataSource]="WSDetails.consumerApplications"
                        class="mat-elevation-z0 border-table consumer-table">

                        <ng-container matColumnDef="appName">
                            <th mat-header-cell *matHeaderCellDef>Application Name</th>
                            <td mat-cell *matCellDef="let v"><strong>{{ v.appName ?? '—' }}</strong></td>
                        </ng-container>

                        <ng-container matColumnDef="appOwner">
                            <th mat-header-cell *matHeaderCellDef>Application Owner</th>
                            <td mat-cell *matCellDef="let v">{{ v.appOwner ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="dateOnboarded">
                            <th mat-header-cell *matHeaderCellDef>Date Onboarded</th>
                            <td mat-cell *matCellDef="let v">{{ v.dateOnboarded ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let v">
                                @if (v.status) {
                                <span class="custom-chip" [ngClass]="{
                                    'active': v.status == 'ACTIVE',
                                    'for-deprecation': v.status == 'FOR_DEPRECATION',
                                    'deprecated': v.status == 'DEPRECATED',
                                    'for-retirement': v.status == 'FOR_RETIREMENT'
                                }">
                                    {{ v.status }}
                                </span>
                                } @else {
                                <span class="text-muted">—</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="trigger">
                            <th mat-header-cell *matHeaderCellDef>Trigger</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">{{ v.trigger ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="appType">
                            <th mat-header-cell *matHeaderCellDef>Application Type</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">{{ v.appType ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="techOwner">
                            <th mat-header-cell *matHeaderCellDef>Technical Owner</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">{{ v.techOwner ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="tokenExpiryDate">
                            <th mat-header-cell *matHeaderCellDef>Token Expiry Date</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.tokenExpiryDate ?? 'No Expiry' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="networkMode">
                            <th mat-header-cell *matHeaderCellDef>Network Mode</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">{{ v.networkMode ?? '—' }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="consumersFields"></tr>
                        <tr mat-row *matRowDef="let row; columns: consumersFields;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No registered consumer applications found for this service.</p>
                    </div>
                    }
                </div>

                <div class="divider"> </div>

                <div class="data-field"><label>Upstream/Source Applications</label></div>

                <div class="table-container">
                    @if (WSDetails?.upstreamApplications?.length) {
                    <table mat-table [dataSource]="WSDetails.upstreamApplications"
                        class="mat-elevation-z0 border-table">

                        <ng-container matColumnDef="appName">
                            <th mat-header-cell *matHeaderCellDef>Application Name</th>
                            <td mat-cell *matCellDef="let v">
                                <strong>{{ v.appName ?? '—' }}</strong>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="appOwner">
                            <th mat-header-cell *matHeaderCellDef>Application Owner</th>
                            <td mat-cell *matCellDef="let v">{{ v.appOwner ?? '—' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="tokenExpiryDate">
                            <th mat-header-cell *matHeaderCellDef>Token Expiry Date</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.tokenExpiryDate ?? 'No Expiry Set' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="techOwner">
                            <th mat-header-cell *matHeaderCellDef>Technical Owner</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                {{ v.techOwner ?? '—' }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="upstreamAppFields"></tr>
                        <tr mat-row *matRowDef="let row; columns: upstreamAppFields;"></tr>
                    </table>
                    } @else {
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No upstream application dependencies documented.</p>
                    </div>
                    }
                </div>

            </section>

            <section class="audit-section">
                <div class="section-header">
                    <h3>Version History / Change Log</h3>
                </div>
                @if (versionData?.results?.length) {

                <div class="table-container version-table-container">
                    
                    @if(isLoading){
                        <app-loader/>
                    }

                    <table mat-table [dataSource]="versionData.results"
                        class="mat-elevation-z0 border-table version-table">
                        <ng-container matColumnDef="version">
                            <th mat-header-cell *matHeaderCellDef>Web Service Version</th>
                            <td mat-cell *matCellDef="let v">
                                <p class="mono">{{v.buildVersion || '-'}}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Modified Date&Time</th>
                            <td mat-cell *matCellDef="let v">{{v.createdAt | date:'MMM dd, yyyy, HH:mm:ss'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="stage">
                            <th mat-header-cell *matHeaderCellDef>Release Stage</th>
                            <td mat-cell *matCellDef="let v">
                                <span class="custom-chip" [ngClass]="{
                                    'pre-alpha': v.releaseStage === 'PRE_ALPHA',
                                    'alpha': v.releaseStage === 'ALPHA',
                                    'beta': v.releaseStage === 'BETA',
                                    'rc': v.releaseStage === 'RC',
                                    'stable': v.releaseStage === 'STABLE',
                                    'patch': v.releaseStage === 'PATCH',
                                    'minor': v.releaseStage === 'MINOR',
                                    'major': v.releaseStage === 'MAJOR'
                                }">
                                    {{v.releaseStage || '-'}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="env">
                            <th mat-header-cell *matHeaderCellDef>Environment</th>
                            <td mat-cell *matCellDef="let v">
                                <span class="custom-chip" [ngClass]="{
                                    'prod': v.env === 'PROD',
                                    'uat': v.env === 'UAT',
                                    'sit': v.env === 'SIT',
                                    'dr' : v.environment === 'DR',
                                    'dev' : v.environment === 'DEV'
                                }">
                                    {{v.environment || '-'}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="build">
                            <th mat-header-cell *matHeaderCellDef>Application Version</th>
                            <td mat-cell *matCellDef="let v" class="text-muted">
                                <p class="mono">{{v.appVersion || '-'}}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="documents">
                            <th mat-header-cell *matHeaderCellDef>Documents</th>
                            <td mat-cell *matCellDef="let v">
                                <button mat-icon-button class="btn-custom-blue" (click)="openUrl(v.docsUrl)"
                                    [disabled]="!v.docs_url">
                                    <mat-icon>open_in_new</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef>Options</th>
                            <td mat-cell *matCellDef="let v">
                                <button (click)="openDialog(v.appVersionUuid)"><mat-icon
                                        class="action-icon">visibility</mat-icon></button>
                                <!-- <mat-icon class="action-icon">edit</mat-icon> -->
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedVersionColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedVersionColumns;"></tr>
                    </table>

                </div>
                <app-pagination [totalElements]="versionData.totalElements" [pageSize]="versionData.pageSize"
                    [currentPage]="versionData.currentPage" (pageChange)="onHandleVersionPage($event)">
                </app-pagination>
                } @else {
                <div class="table-container">
                    <div class="empty-container">
                        <mat-icon>warning</mat-icon>
                        <p>No Version History Found</p>
                    </div>
                </div>
                }

            </section>


            <section>
                <h3>Links & Resources</h3>

                <div class="link-field">
                    <label>Swagger URL</label>
                    @if (WSDetails?.swaggerURL) {
                    <a [href]="WSDetails.swaggerURL" target="_blank">
                        {{ WSDetails.swaggerURL }}
                        <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    <span class="text-muted">No Swagger URL provided.</span>
                    }
                </div>

                <div class="link-field">
                    <label>Documents URL</label>
                    @if (WSDetails?.documentsURL) {
                    <a [href]="WSDetails.documentsURL" target="_blank">
                        {{ WSDetails.documentsURL }}
                        <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    <span class="text-muted">No documentation URL provided.</span>
                    }
                </div>
            </section>

            <!-- <section class="analytics-section">
                <div class="section-header">
                    <h3 class="analytics-header">Analytics Metrics</h3>
                    <app-button [name]="'Refresh'" />
                </div>

                <span class="info-bar">
                    <span class="font-medium">Data gathered: </span><span>2/4/2024, 6:30:00 PM</span>
                </span>

                <div class="card-container">
                    <span class="card-analytics">
                        <h3>CPU Usage</h3>
                        <span class="card-content">
                            <h1>45.2</h1>
                            <p>%</p>
                        </span>
                        <span>
                            <mat-progress-bar class="cpu-usage" mode="determinate" value="40"></mat-progress-bar>
                        </span>
                    </span>

                    <span class="card-analytics">
                        <h3>Memory Usage</h3>
                        <span class="card-content">
                            <h1>1024</h1>
                            <p>MB/ 2047 MB</p>
                        </span>
                        <span>
                            <mat-progress-bar class="cpu-usage" mode="determinate" value="50"></mat-progress-bar>
                        </span>
                        <p class="footer">50.0% utilized</p>
                    </span>

                    <span class="card-analytics">
                        <h3>Avg Response Time</h3>
                        <span class="card-content">
                            <h1>235</h1>
                            <p>ms</p>
                        </span>
                        <span>
                            <span class="custom-chip active">Fast</span>
                        </span>
                    </span>

                    <span class="card-analytics">
                        <h3>Error Rate</h3>
                        <span class="card-content">
                            <h1>0.12</h1>
                            <p>%</p>
                        </span>
                        <span>
                            <span class="custom-chip active">Fast</span>
                        </span>
                    </span>

                    <span class="card-analytics">
                        <h3>Crashes (Last 24h)</h3>
                        <span class="card-content">
                            <h1>2</h1>
                            <p>incident(s)</p>
                        </span>
                        <span>
                            <span class="custom-chip deprecated">Attention needed</span>
                        </span>
                    </span>

                    <span class="card-analytics">
                        <h3>Storage</h3>
                        <span class="card-content">
                            <h1>15.8</h1>
                            <p>GB/ 50 GB</p>
                        </span>
                        <span>
                            <mat-progress-bar class="cpu-usage" mode="determinate" value="31"></mat-progress-bar>
                        </span>
                        <p class="footer">31.6% utilized</p>
                    </span>

                </div>

            </section> -->
        </div>
    </mat-card>
    } @else {
    <div class="loading-container">
        <p>Loading API Details...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    }

</div>