<div class="page-layout">

  @if (applicationDetails) {
  <mat-card class="detail-container">
    <div class="header-section">
      <div class="title-block">
        <div class="title-row">
          <span>
            <h1>{{ applicationDetails?.appName ?? 'Untitled Application' }}</h1>

            <div class="chip-container">
              <span class="custom-chip header-chip">Application</span>
              @if (applicationDetails?.serviceType) {
              <span class="custom-chip">{{ applicationDetails.serviceType | titlecase }}</span>
              } @else {
              <span class="custom-chip header-chip placeholder-chip">General Service</span>
              }
            </div>
          </span>

          @if (auth.isAdmin()) {
          <app-button name="Edit Details" (click)="openEditPage()" />
          }

        </div>

        <p class="description" [class.no-data]="!applicationDetails?.appDesc">
          {{ applicationDetails?.appDesc ?? 'No description provided for this application.' }}
        </p>

        <div class="status-row">
          <span class="badge" [ngClass]="{
            'active': applicationDetails?.lifecycleStatus == 'ACTIVE',
            'for-deprecation': applicationDetails?.lifecycleStatus == 'FOR_DEPRECATION',
            'deprecated': applicationDetails?.lifecycleStatus == 'DEPRECATED',
            'for-retirement': applicationDetails?.lifecycleStatus == 'FOR_RETIREMENT'
          }">
            {{ applicationDetails?.lifecycleStatus ?? 'UNKNOWN' }}
          </span>

          <span class="version-text">
            Version: {{ applicationDetails?.version ?? 'N/A' }}
          </span>
        </div>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="content-body">

      <section>
        <h3>Basic Information</h3>
        <div class="grid-2">
          <div class="data-field">
            <label>Application ID</label>
            <p class="mono-text">{{ applicationDetails?.appUuid ?? '00000000-0000-0000-0000-000000000000' }}</p>
          </div>

          <div class="data-field">
            <label>Owner Name</label>
            <p [class.placeholder-text]="!applicationDetails?.ownerName">
              {{ applicationDetails?.ownerName ?? 'Unassigned' }}
            </p>
          </div>

          <div class="data-field">
            <label>Owner Department</label>
            <p [class.placeholder-text]="!applicationDetails?.ownerDept">
              {{ applicationDetails?.ownerDept ?? '—' }}
            </p>
          </div>

          <div class="data-field">
            <label>BAU Support Name</label>
            <p [class.placeholder-text]="!applicationDetails?.bauSupportName">
              {{ applicationDetails?.bauSupportName ?? 'Pending Assignment' }}
            </p>
          </div>

          <div class="data-field">
            <label>BAU Support Department</label>
            <p [class.placeholder-text]="!applicationDetails?.bauSupportDept">
              {{ applicationDetails?.bauSupportDept ?? '—' }}
            </p>
          </div>
        </div>
      </section>

      <section class="tech-stack-section">
        <h3>Technology Stack</h3>

        <div class="stack-group">
          <label>Platform</label>
          <div>
            @let techStackPlatform = (applicationDetails?.techStackPlatform | split);

            @for (item of techStackPlatform; track item) {
            <span class="custom-chip">{{ item }}</span>
            } @empty {
            <span class="no-data">No platform information available</span>
            }
          </div>
        </div>

        <div class="stack-group">
          <label>Application Technologies</label>
          <div>
            @let techStackApp = (applicationDetails?.techStackApp | split);

            @for (item of techStackApp; track item) {
            <span class="custom-chip">{{ item }}</span>
            } @empty {
            <span class="no-data">No technology data available</span>
            }
          </div>
        </div>

        <div class="stack-group">
          <label>Storage & Data</label>
          <div>
            @let techStackStorage = (applicationDetails?.techStackStorage | split);

            @for (item of techStackStorage; track item) {
            <span class="custom-chip">{{ item }}</span>
            } @empty {
            <span class="no-data">No storage information available</span>
            }
          </div>
        </div>

        <div class="stack-group">
          <label>Security</label>
          <div>
            @let techStackSecurity = (applicationDetails?.techStackSecurity | split);

            @for (item of techStackSecurity; track item) {
            <span class="custom-chip">{{ item }}</span>
            } @empty {
            <span class="no-data">No security protocols listed</span>
            }
          </div>
        </div>
      </section>

      <section>
        <h3>Links & Resources</h3>

        <div class="link-field">
          <label>Git Repository</label>
          @if (applicationDetails?.repoUrl) {
          <a [href]="applicationDetails.repoUrl" target="_blank">
            {{ applicationDetails.repoUrl }} <mat-icon>open_in_new</mat-icon>
          </a>
          } @else {
          <span class="no-link">No repository link provided</span>
          }
        </div>

        <div class="link-field">
          <label>Swagger/API Documentation</label>
          @if (applicationDetails?.swaggerUrl) {
          <a [href]="applicationDetails.swaggerUrl" target="_blank">
            {{ applicationDetails.swaggerUrl }} <mat-icon>open_in_new</mat-icon>
          </a>
          } @else {
          <span class="no-link">Documentation not available</span>
          }
        </div>

        <div class="link-field">
          <label>SharePoint Documents</label>
          @if (applicationDetails?.docsUrl) {
          <a [href]="applicationDetails.docsUrl" target="_blank">
            {{ applicationDetails.docsUrl }} <mat-icon>open_in_new</mat-icon>
          </a>
          } @else {
          <span class="no-link">No documents attached</span>
          }
        </div>
      </section>

      <!-- <section class="analytics-section">
        <div class="section-header">
          <h3>Analytics Metrics</h3>
          <app-button [name]="'Refresh'" (click)="openEditPage()" />
        </div>

        <span class="info-bar">
          <span class="font-medium">Data gathered: </span><span>2/4/2024, 6:30:00 PM</span>
        </span>

        <div class="card-container">
          <span class="card-analytics">
            <h3>CPU Usage</h3>
            <span class="card-content">
              <h1>45.2</h1>
              <p>%</p>
            </span>
            <span>
              <mat-progress-bar class="cpu-usage" mode="determinate" value="40"></mat-progress-bar>
            </span>
          </span>

          <span class="card-analytics">
            <h3>Memory Usage</h3>
            <span class="card-content">
              <h1>1024</h1>
              <p>MB/ 2047 MB</p>
            </span>
            <span>
              <mat-progress-bar class="cpu-usage" mode="determinate" value="50"></mat-progress-bar>
            </span>
            <p class="footer">50.0% utilized</p>
          </span>

          <span class="card-analytics">
            <h3>Avg Response Time</h3>
            <span class="card-content">
              <h1>235</h1>
              <p>ms</p>
            </span>
            <span>
              <span class="custom-chip active">Fast</span>
            </span>
          </span>

          <span class="card-analytics">
            <h3>Error Rate</h3>
            <span class="card-content">
              <h1>0.12</h1>
              <p>%</p>
            </span>
            <span>
              <span class="custom-chip active">Fast</span>
            </span>
          </span>

          <span class="card-analytics">
            <h3>Crashes (Last 24h)</h3>
            <span class="card-content">
              <h1>2</h1>
              <p>incident(s)</p>
            </span>
            <span>
              <span class="custom-chip deprecated">Attention needed</span>
            </span>
          </span>

          <span class="card-analytics">
            <h3>Storage</h3>
            <span class="card-content">
              <h1>15.8</h1>
              <p>GB/ 50 GB</p>
            </span>
            <span>
              <mat-progress-bar class="cpu-usage" mode="determinate" value="31"></mat-progress-bar>
            </span>
            <p class="footer">31.6% utilized</p>
          </span>

        </div>

      </section> -->

      <section>
        <div class="section-header">
          <h3>Web Services</h3>
          @if (auth.isAdmin()) {
          <app-button [name]="'Add Web Service'" (click)="openApiForm()" />
          }
        </div>
        @if (wsData?.results?.length) {
        <div class="table-container">
          @if(isWebServiceListLoading){
          <app-loader />
          }
          <table mat-table [dataSource]="wsData.results" class="mat-elevation-z0 border-table">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let s" class="app-name">{{s.apiName}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let s">{{s.apiDesc}}</td>
            </ng-container>
            <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef>Version</th>
              <td mat-cell *matCellDef="let s">{{s.stableProdVersion || '-'}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let s">
                <span class="custom-chip" [ngClass]="{
                'active': s.lifecycleStatus === 'ACTIVE',
                'for-deprecation': s.lifecycleStatus === 'FOR_DEPRECATION',
                'deprecated': s.lifecycleStatus === 'DEPRECATED',
                'for-retirement': s.lifecycleStatus === 'FOR_RETIREMENT'
              }">
                  {{s.lifecycleStatus}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Options</th>
              <td mat-cell *matCellDef="let s">
                <button (click)="openDetails(s.appApiUuid)">
                  <mat-icon>visibility</mat-icon>

                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedServiceColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedServiceColumns;"></tr>
          </table>

        </div>
        <app-pagination [totalElements]="wsData.totalElements" [pageSize]="wsData.pageSize"
          [currentPage]="wsData.currentPage" (pageChange)="onHandleWSPage($event)">
        </app-pagination>
        } @else {
        <div class="table-container">
          <div class="empty-container">
            <mat-icon>cloud_off</mat-icon>
            <p>This application doesn't have any registered APIs yet.</p>
          </div>
        </div>
        }
      </section>

      @if (applicationDetails.lifecycleStatus == 'ACTIVE') {
      <section class="audit-section">
        <div class="section-header">
          <h3>Version History / Change Log</h3>
          @if (auth.isAdmin()) {
          <app-button name="Add Version" (click)="openVersionModal()" />
          }
        </div>
        @if (versionData?.results?.length) {

        <div class="table-container">

          @if(isVersionListLoading){
          <app-loader />
          }
          <table mat-table [dataSource]="versionData.results" class="mat-elevation-z0 border-table">
            <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef>Application Version</th>
              <td mat-cell *matCellDef="let v">{{v.appVersion || '-'}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Modified Date&Time</th>
              <td mat-cell *matCellDef="let v">{{v.modifiedDateTime | date:'MMM dd, yyyy, HH:mm:ss'}}</td>
            </ng-container>

            <ng-container matColumnDef="stage">
              <th mat-header-cell *matHeaderCellDef>Release Stage</th>
              <td mat-cell *matCellDef="let v">
                <span class="custom-chip" [ngClass]="{
                    'pre-alpha': v.releaseStage === 'PRE_ALPHA',
                    'alpha': v.releaseStage === 'ALPHA',
                    'beta': v.releaseStage === 'BETA',
                    'rc': v.releaseStage === 'RC',
                    'stable': v.releaseStage === 'STABLE',
                    'patch': v.releaseStage === 'PATCH',
                    'minor': v.releaseStage === 'MINOR',
                    'major': v.releaseStage === 'MAJOR'
                }">
                  {{v.releaseStage || '-'}}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="env">
              <th mat-header-cell *matHeaderCellDef>Environment</th>
              <td mat-cell *matCellDef="let v">
                <span class="custom-chip" [ngClass]="{
                'prod': v.environment === 'PROD',
                'uat': v.environment === 'UAT',
                'sit': v.environment === 'SIT',
                'dr' : v.environment === 'DR',
                'dev' : v.environment === 'DEV'
              }">
                  {{v.environment || '-'}}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="build">
              <th mat-header-cell *matHeaderCellDef>Build Version</th>
              <td mat-cell *matCellDef="let v" class="text-muted">{{v.buildVersion || '-'}}</td>
            </ng-container>

            <ng-container matColumnDef="documents">
              <th mat-header-cell *matHeaderCellDef>Documents</th>
              <td mat-cell *matCellDef="let v">
                @if( v.docsUrl ){
                <button mat-icon-button class="btn-custom-blue" (click)="openUrl(v.docsUrl)">
                  <mat-icon>open_in_new</mat-icon>
                </button>
                }
                @else {
                <span> - </span>
                }

              </td>
            </ng-container>

            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Options</th>
              <td mat-cell *matCellDef="let v; let i = index">
                <button (click)="openDialog(v.appVersionUuid)">
                  <mat-icon class="action-icon">visibility</mat-icon>
                </button>
                @if (auth.isAdmin()) {
                <button (click)="editVersion(i)">
                  <mat-icon class="action-icon">edit</mat-icon>  
                </button>
                }
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedVersionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedVersionColumns;"></tr>
          </table>

        </div>
        <app-pagination [totalElements]="versionData.totalElements" [pageSize]="versionData.pageSize"
          [currentPage]="versionData.currentPage" (pageChange)="onHandleVersionPage($event)">
        </app-pagination>
        } @else {
        <div class="table-container">
          <div class="empty-container">
            <mat-icon>warning</mat-icon>
            <p>No Version History Found</p>
          </div>
        </div>
        }

      </section>
      }

      <section>
        @if (applicationDetails.lifecycleStatus == 'RETIRED'){
        <div class="sec-warn retired">
          <span class="msg-warn">
            🚫 This service is retired. It should not be used for new projects.
          </span>
        </div>
        }

        @if (applicationDetails.lifecycleStatus == 'FOR_DEPRECATION'){
        <div class="sec-warn for-deprecation">
          <span class="msg-warn">
            🚫 This service is for deprecation. It should not be used for new projects.
          </span>
        </div>
        }

        @if (applicationDetails.lifecycleStatus == 'DEPRECATED'){
        <div class="sec-warn deprecated">
          <span class="msg-warn">
            🚫 This service is deprecated. It should not be used for new projects.
          </span>
        </div>
        }

        @if (applicationDetails.lifecycleStatus == 'FOR_RETIREMENT'){
        <div class="sec-warn for-retirement">
          <span class="msg-warn">
            🚫 This service is fore retirement. It should not be used for new projects.
          </span>
        </div>
        }
      </section>




    </div>

  </mat-card>

  } @else {
  <div class="loading-container">
    <p>Loading Application Details...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  }
</div>