<div class="page-container">

    @if(!isSearched){
    <div class="hero-banner" @heroAnimation>
        <mat-icon color="primary" class="hero-icon">flare</mat-icon>
        <h3>LANTERN</h3>
        <p>Service & API Catalog</p>
    </div>
    }


    <div class="search-container">
        <div class="search-row">
            <div class="search-box">
                <mat-icon>search</mat-icon>
                <input type="text" [(ngModel)]="searchQuery" placeholder="Search web services or applications...">
            </div>

            <button mat-icon-button (click)="toggleFilters()" [class.active-filter]="isFilterExpanded"
                class="filter-toggle-btn">
                <mat-icon>filter_list</mat-icon>
            </button>

            <app-button [name]="'Search'" (click)="search()" />
        </div>

        @if (allSelectedTags.length > 0) {
        <div class="selected-tags" @tagAnimation>
            <span class="tags-title">Active Filters:</span>
            @for (tag of allSelectedTags; track tag.value) {
            <span class="tag" [ngClass]="tag.value.toLowerCase().replace('_', '-')">
                {{ tag.value }}
                <mat-icon (click)="toggleFilter(tag.key, tag.value)">close</mat-icon>
            </span>
            }
            <button class="clear-all" (click)="clearAll()">Clear all</button>
        </div>
        }

        <div class="filter-section" [@expandCollapse]="isFilterExpanded ? 'expanded' : 'collapsed'">
            <div class="filter-content-grid">
                @for (filter of filterData; track filter.label) {
                <div class="custom-dropdown">
                    <div class="dropdown-trigger" (click)="filter.isOpen = !filter.isOpen">
                        <span>{{ filter.label }}</span>
                        <mat-icon [class.rotated]="filter.isOpen">expand_more</mat-icon>
                    </div>

                    @if (filter.isOpen) {
                    <div class="options-grid">
                        @for (option of filter.options; track option) {
                        <div class="option-item" [class.selected]="isSelected(filter.key, option)"
                            (click)="toggleFilter(filter.key, option)">
                            <div class="checkbox">
                                @if (isSelected(filter.key, option)) { <mat-icon>done</mat-icon> }
                            </div>
                            {{ option }}
                        </div>
                        }
                    </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>

    <br>

    @if (isSearched){

    <mat-card appearance="outlined" @cardAnimation>

        <div class="header-container">
            <div class="title-group">
                <h2 class="table-header">Search Result</h2>
            </div>

            <span class="spacer"></span>

        </div>

        @if (searchList.length > 0) {

        <div class="table-container">
            <table mat-table [dataSource]="searchList" class="mat-elevation-z0 lantern-table">

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let list">
                        {{list.category}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let list">
                        {{list.name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="match">
                    <th mat-header-cell *matHeaderCellDef> Match(es) </th>
                    <td mat-cell *matCellDef="let list">
                        <div class="match-details">
                            @for (entry of list.matches | keyvalue; track entry.key) {
                            <div class="match-item">
                                <strong>{{ entry.key.toString() | titlecase }} : </strong>
                                <span [innerHTML]="entry.value | highlight: searchQuery"></span>
                            </div>
                            }
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef> View </th>
                    <td mat-cell *matCellDef="let list; index as i">
                        <button mat-icon-button color="primary" (click)="openDetails(list)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <app-pagination [totalElements]="dataRes.totalElements" [pageSize]="dataRes.pageSize"
            [currentPage]="dataRes.currentPage" (pageChange)="onHandlePage($event)">
        </app-pagination>

        } @else {

        <div class="table-container">
            <div class="empty-container">
                <mat-icon>warning</mat-icon>
                <h3>No Applications Found</h3>
            </div>
        </div>
        }

    </mat-card>
    }

</div>