<mat-sidenav-container class="lantern-wrapper">

  <mat-sidenav #drawer mode="side" opened="true" class="sidebar">
    <section>
      <div class="sidebar-header">
        <img class="icon-tbl" src="assets/icons/lantern.png" />
        <!-- <b class="header-text">LANTERN</b> -->
      </div>

      <mat-nav-list>

        <a class="sidebar-options" routerLink="/search" routerLinkActive="active-link">
          <img class="icon-tbl icon-default" src="assets/icons/search.png" alt="" />
          <img class="icon-tbl icon-active" src="assets/icons/search-alt.png" alt="" />
          <div>Search</div>
        </a>

        <a class="sidebar-options" routerLink="/application" routerLinkActive="active-link">
          <img class="icon-tbl icon-default" src="assets/icons/app.png" alt="" />
          <img class="icon-tbl icon-active" src="assets/icons/app-alt.png" alt="" />
          <div>Applications</div>
        </a>

        <a class="sidebar-options" routerLink="/web-services" routerLinkActive="active-link">
          <img class="icon-tbl icon-default" src="assets/icons/web-service.png" alt="" />
          <img class="icon-tbl icon-active" src="assets/icons/web-service-alt.png" alt="" />
          <div>Web Services</div>
        </a>

        @if (auth.isAdmin()) {

        <a mat-list-item routerLink="/analytics" routerLinkActive="active-link">
          <mat-icon matListItemIcon>analytics</mat-icon>
          <div matListItemTitle>Admin Analytics</div>
        </a>

        <a class="sidebar-options" routerLink="/masterlist-io" routerLinkActive="active-link">
          <img class="icon-tbl icon-default" src="assets/icons/upload.png" />
          <img class="icon-tbl icon-active" src="assets/icons/upload-alt.png" />
          <div>Master List I/O</div>
        </a>

        }

      </mat-nav-list>
    </section>

    <section>
      <button (click)="logout()" class="sidebar-options">
        <img class="icon-tbl" src="assets/icons/logout.png" />
        <div>Logout</div>
      </button>
    </section>


  </mat-sidenav>

  <mat-sidenav-content class="viewport-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle menu">
          <img class="icon-tbl" src="assets/icons/sidebar.png" />
        </button>
        <span class="ms-2">API Catalog Monitoring</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-content">
      <div class="main-content-container">
        <app-breadcrumbs />
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>