<mat-sidenav-container class="lantern-wrapper">

  <mat-sidenav #drawer mode="side" opened="true" class="sidebar">
    <section>
      <div class="sidebar-header">
        <mat-icon color="primary" class="header-icon">flare</mat-icon>
        <!-- <b class="header-text">LANTERN</b> -->
      </div>

      <mat-nav-list>

        @if (auth.isAdmin()) {
        <a mat-list-item routerLink="/analytics" routerLinkActive="active-link">
          <mat-icon matListItemIcon>analytics</mat-icon>
          <div matListItemTitle>Admin Analytics</div>
        </a>
        }

        <a mat-list-item routerLink="/search" routerLinkActive="active-link">
          <mat-icon matListItemIcon>manage_search</mat-icon>
          <div matListItemTitle>Search</div>
        </a>

        <a mat-list-item routerLink="/application" routerLinkActive="active-link">
          <mat-icon matListItemIcon>list</mat-icon>
          <div matListItemTitle>Applications</div>
        </a>

        <a mat-list-item routerLink="/web-services" routerLinkActive="active-link">
          <mat-icon matListItemIcon>lists</mat-icon>
          <div matListItemTitle>Web Services</div>
        </a>
        
        @if (auth.isAdmin()) {
        <a mat-list-item routerLink="/masterlist-io" routerLinkActive="active-link">
          <mat-icon matListItemIcon>upload_file</mat-icon>
          <div matListItemTitle>Master List I/O</div>
        </a>
        }

      </mat-nav-list>
    </section>

    <section>
      <button mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <div matListItemTitle>Logout</div>
      </button>
    </section>


  </mat-sidenav>

  <mat-sidenav-content class="viewport-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="ms-2">API Catalog Monitoring</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-content">
      <div class="main-content-container">
        <app-breadcrumbs/>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>