:host {
  display: block;
  font-family: var(--font-sans);
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.breadcrumb-nav {
  padding: 10px 0;
  width: 100%;
  display: flex;

  .breadcrumb-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    position: relative;

    .bc-link, .active {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      font-size: 0.8rem;
      transition: all 0.2s ease;
      
      clip-path: polygon(
        calc(100% - 10px) 0%, 
        100% 50%, 
        calc(100% - 10px) 100%, 
        0% 100%, 
        10px 50%, 
        0% 0%
      );
    }

    .bc-link {
      background-color: rgba(186, 26, 26, 0.1);
      color: #ba1a1a !important;
      font-weight: 500;

      &:hover {
        background-color: #d1e9ff;
        text-decoration: none;
      }
    }

    .active {
      background-color: #ba1a1a !important;
      color: white !important;
      font-weight: 600;
    }

    &:first-child .bc-link, &:first-child .active {
      padding-left: 20px;
      clip-path: polygon(
        calc(100% - 10px) 0%, 
        100% 50%, 
        calc(100% - 10px) 100%, 
        0% 100%, 
        0% 50%, 
        0% 0%
      );
      border-radius: 8px 0 0 8px; // Rounded left edge
    }

    // Special Case: The last item (current) can have a rounded right edge
    &.last .active {
      border-radius: 0 8px 8px 0;
    }
  }
}

@container (min-width: 1536px) { .breadcrumb-nav { width: 1488px; } }
@container (max-width: 1535px) { .breadcrumb-nav { width: 1232px; } }
@container (max-width: 1279px) { .breadcrumb-nav { width: 1024px; } }
@container (max-width: 1023px) { .breadcrumb-nav { width: 720px; } }
@container (max-width: 767px) { .breadcrumb-nav { max-width: 592px; width: 100%; } }